.titulo {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #FF6600;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}
.subtitulo {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #666600;
	font-weight: bold;
}
.body {
	background-color: #FFFFFF;
}
.texto {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #333333;
	text-decoration: none;
	text-align: left;
}
.link {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;	
	color: #FF6600;
	text-decoration: underline;
	font-style: normal;
}
.link:hover {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #666666;
	text-decoration: underline;
	font-style: normal;
}
.subtitulo2 {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #999999;
	font-weight: normal;
}
.subtitulo1 {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #999999;
	font-weight: normal;
}
.link1 {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #999999;
	text-decoration: underline;
	font-style: normal;
}
.link1:hover {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #666666;
	text-decoration: underline;
}
.link0 {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #ffffff;
	text-decoration: underline;
	font-style: normal;
}
.link0:hover {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #FF6600;
	text-decoration: underline;
}.linkmenor {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #666600;
	text-decoration: underline;
}
.linkmenor:hover {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #CCCCCC;
	text-decoration: underline;
}
.link2 {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #666600;
	text-decoration: underline;
	font-style: normal;
	font-weight: bold;
}
.link2:hover {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;	
	color: #666666;
	text-decoration: underline;
}
.texto_menor {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 14px;
	color: #333333;
	text-decoration: none;
}
